.container {
  width: 750px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  font-weight: bold;
}
input {
  border: 1px solid #ccc;
  width: 400px;
}
input.cpf{
  width: 150px;
}
input.data{
  width: 150px;
}
input.time{
  width: 90px;
}
input.ramal{
  width: 90px;
}
input.equipamentos{
  width: 20px;
}
textarea{
  margin-top: 99px;
}
/* table.formulario {
  border: 3px solid #000;
} */
tr{
  margin-bottom: 30px;
}
label.titulo-cpf{
  width: 5px;
}
.ajuda{  
  display: block;
  margin-left: 110px;
}